


/* tipograf칤a t칤tulos y cosas importantes */

.climate-crisis  {
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YEAR" 1979;
}

/* tipograf칤a para textos */

.montserrat- {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


/* efectos del cursor */
 html, body, * {
  cursor: none !important;
}


.cursor {
  width: 20px;
  height: 20px;
  border: 2px solid #ff0000;
  background-color: #ff0000;
  border-radius: 50%;
  position: fixed;           /* ligado al viewport */
  pointer-events: none;
  transform: translate(-50%, -50%); /* centra el c칤rculo en el puntero */
  transition: transform 0.1s ease;
  z-index: 9999;
  top: 0;
  left: 0;
}

.cursor-grow {
  transform: translate(-50%, -50%) scale(1.5);
}



/* Reset b치sico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS DE LA P츼GINA PRINCIPAL */

/* Men칰 de navegaci칩n */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #ff0000;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-family: "Climate Crisis", sans-serif;
  font-size: 40px;
  margin: 25px;
}


/* cabecera de la p치gina principal */
/* se basa en una imagen de fondo y el t칤tulo que ponga Kyoto */

.hero {
  height: 100vh;
  background-image: url('img/kyoto-header.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 100px;
  color: white;
  text-shadow: 0px 2px 10px rgba(0,0,0,0.5);
  font-family: "Climate Crisis", sans-serif;
}


/* ventana modal ULTIMA OPORTUNIDAD JRPASS */
.modal {
  display: none; /* oculta por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);

  /* centrado con flexbox */
  align-items: center;
  justify-content: center;
}

.show-modal {
  display: flex; /* se muestra y se centra */
}


.modal-content {
  background-color: #ff0000;
  padding: 3rem;
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  color: #fff;
  position: relative; /* necesario para posicionar la X dentro */
}

.close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}

.modal-content h2 {
  color: #fff;
  font-family: "Climate Crisis", sans-serif;
}

.modal-content p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.show-modal {
  display: flex; /* 游녣 activa el flexbox para centrar */
}

.btn-turismo {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.8rem 1.5rem;
  background-color: #ff0000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px; /* m치s redondeado */
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  font-family: "Climate Crisis", sans-serif;
}

.btn-turismo:hover {
  background-color: #fff;
  color: #ff0000;
}

/* secci칩n resumen sobre kyoto de la p치gina pricipal */

/* Resumen con Flexbox */
.resumen {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 80px 40px;
  background-color: #ff0000;
  max-width: 1200px;
  margin: 0 auto; 
  border-radius: 20px;
}

.bloque {
  display: flex;
    align-items: stretch; 
  justify-content: center;
  gap: 20px;
}


.texto {
  width: 700px;
  background-color: #fff3e0;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  height: auto; 
}

.texto, .imagen {
  flex: 1;
  min-width: 280px;
}

.texto h2 {
  font-size: 40px;
  margin-bottom: 15px;
  color: #ff0000;
  font-family: "Climate Crisis", sans-serif;
}

.texto p {
  font-size: 25px;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.imagen img {
  width: 100%;
  height: 100%;
  max-height: 700px; 
  max-width: 700px;
  object-fit: cover;
  border-radius: 20px;
}

.carrusel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.carrusel img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carrusel img.active {
  opacity: 1;
  z-index: 1;
}

/* bot칩n dentro del flexbos de historia y cuyltura que te lleve a la pagina de informacion por si quieres leer m치s sobre el tema
 */
 .btn-vermas {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #ff0000;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  text-align: center;
  font-family: "Climate Crisis", sans-serif;;
}

.btn-vermas:hover {
  background-color: #a22;
}



/* Responsivo: en m칩viles apila y pon texto encima */
/* @media (max-width: 768px) {
  .bloque {
    flex-direction: column;
  }
} */


/* layout parte turismo en la pag principal */
/* intentar hacer un layout con flexvos m치s divertido */
/* Layout de turismo */
.turismo-collage {
  display: flex;
  gap: 20px;
  padding: 60px 30px;
  height: 700px; /* altura total del collage */
  border-radius: 20px;
  font-family: "Climate Crisis", sans-serif;
font-size: 30px;
}

/* Columnas */
.columna {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
}

/* Izquierda */
.izquierda {
  flex: 1;
  border-radius: 20px;
  font-display: center;
}

.alto {
  flex: 3;
  background-color: #cce5ff;
  border-radius: 20px;
}

.bajo {
  flex: 1;
  background-color: #d4edda;
  border-radius: 20px;
}

/* Centro */
.centro {
  flex: 2;
  border-radius: 20px;
}

/* Bloque grande en rojo con tipograf칤a blanca */
.grande {
  flex: 1;
  background-color: #ff0000; /* rojo */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  border-radius: 20px;
  color: #fff; /* tipograf칤a blanca */
  text-decoration: none; /* quitar subrayado si es enlace */
  transition: background 0.3s ease;
}

.grande:hover {
  background-color: #cc0000; /* tono m치s oscuro al pasar el rat칩n */
}

/* Imagen centro abajo izquierda */
.imagen-centro-izquierda {
  background-image: url("assets/im치genes pag principal/kimono");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

/* Imagen derecha completa */
.imagen-derecha {
  background-image: url("assets/im치genes pag principal/kyoto2"); /* usa otra imagen distinta */
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}


.bloque-grid {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  border-radius: 20px;
}

.mini-bloque {
  background-color: #fff3cd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 20px;
}

/* Derecha */
.derecha {
  flex: 1;
  border-radius: 20px;
}

.completo {
  flex: 1;
  background-color: #e2e3e5;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 20px;
}



/* Bloque grande en rojo con tipograf칤a blanca */
.grande {
  flex: 1;
  background-color: #ff0000; /* rojo */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  border-radius: 20px;
  color: #fff; /* tipograf칤a blanca */
  text-decoration: none; /* quitar subrayado si es enlace */
  transition: background 0.3s ease;
}

.grande:hover {
  background-color: #cc0000; /* tono m치s oscuro al pasar el rat칩n */
}

.imagen-centro-izquierda {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6e/Kiyomizu-dera_in_Kyoto.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  width: 100%;
  height: 100%; /* 游녣 necesario */
  min-height: 200px; /* 游녣 asegura que se vea */
}

.imagen-derecha {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/0c/Fushimi_Inari-taisha_torii.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  width: 100%;
  height: 100%; /* 游녣 necesario */
  min-height: 400px; /* 游녣 asegura que se vea */
}
