


/* tipografía títulos y cosas importantes */

.climate-crisis  {
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YEAR" 1979;
}

/* tipografía para textos */

.montserrat- {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


/* efectos del cursor */

/* .cursor {
  width: 20px;
  height: 20px;
  border: 2px solid #ff0000; 
  border-radius: 50%;        
  position: fixed;
  pointer-events: none;      
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
  z-index: 9999;
} */

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS DE LA PÁGINA PRINCIPAL */

/* Menú de navegación */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #d33;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-family: "Climate Crisis", sans-serif;
  font-size: 40px;
  margin: 25px;
}


/* cabecera de la página principal */
/* se basa en una imagen de fondo y el título que ponga Kyoto */

.hero {
  height: 100vh;
  background-image: url('img/kyoto-header.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 100px;
  color: white;
  text-shadow: 0px 2px 10px rgba(0,0,0,0.5);
  font-family: "Climate Crisis", sans-serif;
}

/* sección resumen sobre kyoto de la página pricipal */

/* Resumen con Flexbox */
.resumen {
  display: flex;
  flex-direction: column;
  gap: 80px;              /* reduce la separación vertical entre bloques */
  padding: 80px 40px;
  background-color: #f9f9f9;
  max-width: 1200px;      /* limita el ancho total del contenido */
  margin: 0 auto;         /* centra todo el bloque en la página */
}

.bloque {
  display: flex;
  align-items: center;
  justify-content: center; /* centra horizontalmente */
  gap: 20px;               /* reduce la separación entre texto e imagen */
}

.texto, .imagen {
  flex: 1;
  min-width: 280px;
}

.texto h2 {
  font-size: 40px;
  margin-bottom: 15px;
  color: #d33;
  font-family: "Climate Crisis", sans-serif;
}

.texto p {
  font-size: 25px;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.imagen img {
  width: 100%;
  height: 100%;
  max-height: 700px; 
  max-width: 700px;       /* evita que se dispare el tamaño */
  object-fit: cover;
  border-radius: 10px;
}

/* Responsivo: en móviles apila y pon texto encima */
@media (max-width: 768px) {
  .bloque {
    flex-direction: column;
  }
}
